.acc-container {
  width: 100vw;
  display: flex;
}

.acc-content {
  display: flex;
  flex-direction: column;
  min-width: 75vw;
  padding: 7rem 5rem;
}

.acc-content__title {
  padding: 0rem 7rem 3rem 6rem;
}

/* Credentials */
.acc-content__cred {
  height: 8rem;
  display: flex;
  flex-direction: row;
  padding: 0rem 8rem;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid #c1c1c1;
}

.acc-content__cred__icon {
  width: 3.2rem;
  height: auto;
  color: var(--color-primary);
  font-size: 1.2rem;
}

.acc-content__cred__label {
  font-size: var(--font-size-default);
  color: var(--color-text-light);
  margin-left: 4rem;
  width: 50rem;
  min-width: 25rem;
}

.acc-content__cred__detail {
  font-size: var(--font-size-default);
}

/* Buttons */
.acc-content__buttons {
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
  padding: 0rem 6rem;
}

.acc-content__buttons__editProfile {
  height: 7.6rem;
  width: 30rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.acc-content__buttons__logout {
  height: 7.6rem;
  width: 30rem;
}
