.acc-container {
  width: 100vw;
  display: grid;
}

.acc-content {
  display: flex;
  flex-direction: column;
  min-width: 75vw;
  padding: 7rem 8rem;
  grid-row: 1 / 1;
  grid-column: 2 / 2;
}

.acc-content__title {
}

/* Credentials */
.acc-content__cred {
  height: 8.5rem;
  display: grid;
  grid-template-columns: 5rem 50rem max-content;
  padding: 0rem 8rem;
  border-bottom: 1px solid #c1c1c1;
  justify-content: start;
  align-items: center;
}

.acc-content__cred > i {
  color: var(--color-primary);
  font-size: 3rem;
}

.acc-content__cred__label {
  font-size: var(--font-size-default);
  color: var(--color-text-light);
  margin-left: 4rem;
  min-width: 25rem;
  grid-row: 1 / 1;
  grid-column: 2 / 2;
}

.acc-content__cred__detail {
  font-size: var(--font-size-default);
  grid-row: 1 / 1;
  grid-column: 3 / 3;
}

/* Buttons */
.acc-content__buttons {
  margin-top: 7rem;
  display: flex;
  justify-content: space-between;
  padding: 0rem 6rem;
}

.acc-content__buttons__editProfile {
  height: 7.6rem;
  width: 30rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.acc-content__buttons__editProfile > p {
  color: var(--color-text-lightest);
}

.acc-content__buttons__editProfile:hover > p {
  color: #333;
}

.acc-content__buttons__logout,
.acc-content__editAcc__update > button,
.acc-content__editAcc__back {
  height: 7.6rem;
  width: 30rem;
}

.acc-content__editAcc__back {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Edit Account Form */

.acc-content__editAcc {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
  padding-left: 7rem;
}

.acc-content__editAcc__buttons {
  display: flex;
  width: 90%;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 6rem;
}

.acc-content__editAcc__update {
}

.acc-content__editAcc__editCred {
  display: flex;
  height: 7rem;
  margin-bottom: 3rem;
}

.acc-content__editAcc__editCred > label {
  align-self: center;
  min-width: 18rem;
}

.acc-content__editAcc__editCred > input {
  border-radius: 3.25rem;
  background-color: var(--color-panel-dark);
  width: 80%;
  padding-left: 3rem;
  border: 1px solid var(--color-panel-darkest);
}

.acc-content__editAcc__editCred__birthday {
  padding-right: 15rem;
}
