/* THIS CSS FILE IS FOR:
    1) ViewFriends
    2) AddFriends
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi+Fun:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa+Ink:wght@400;700&display=swap');



.friends-container {
  width: 100vw;
  display: grid;
}

.friends-content {
  display: flex;
  flex-direction: column;
  min-width: 75vw;
  padding: 7rem 8rem;
  grid-row: 1 / 1;
  grid-column: 2 / 2;
}

.friends-loader {
  width: 100%;
  display: grid;
  justify-items: center;
  grid-row-gap: 4rem;
}

/* FRIEND CARD */

.friends-content-search {
  display: grid;
  height: 6rem;
  border-radius: 3.25rem;
  justify-content: space-between;
  margin-bottom: 4rem;
}

.friends-content-search > input {
  border-radius: 3rem;
  border: none;
  background-color: var(--color-panel-dark);
  padding-left: 3rem;
  margin: 0;
  grid-row: 1 / 1;
  grid-column: 1/1;
  width: 45rem;
}

.friends-content-search > input:focus {
  outline: 2px solid var(--color-primary);
}

.friends-content-search > button {
  width: 10rem;
  height: 80%;
  grid-row: 1 / 1;
  grid-column: 1/1;
  justify-self: flex-end;
  align-self: center;
  margin-right: 1rem;
}

.friends-content-search > button > i {
  color: var(--color-text-lightest);
  margin: 0;
  padding: 0;
  font-size: 24px;
}

/* SEARCHED USERS */
.searched-user-container {
  display: flex;
  flex-direction: column;
}

.searched-header {
  display: grid;
  grid-template-columns: 30rem 25rem minmax(max-content, 1fr);
  padding: 1rem 0rem 1rem 3rem;
}

.searched-header li {
  font-weight: bold;
  grid-row-start: 1;
}

.searched-user-details {
  display: grid;
  grid-template-columns: 30rem 25rem minmax(max-content, 1fr);
  margin: 0rem 0rem 2rem 0rem;
  padding: 1.5rem 3rem 1.5rem 3rem;
  background-color: var(--color-panel-dark);
  border-radius: 2rem;
  align-items: center;
  min-width: max-content;
  min-height: 8rem;
}
.searched-user-details__buttons {
  justify-self: end;
}

/* BUTTONS / ACTIONS */

.btn-accept,
.btn-reject {
  width: 14rem;
  height: 5.5rem;
  border-radius: 2rem;
}

.btn-accept {
  margin: 0rem 1rem;
}

.btn-wishlist {
  width: 16rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5.5rem;
  border-radius: 2rem !important;
  margin: 0 !important;
}

.action-props,
.add-friend-props {
  grid-row-start: 1;
  grid-column-start: 3;
}

.add-friend-props button {
  width: 12rem;
  height: 5.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-friend-props button > i {
  color: var(--color-text-lightest);
  font-size: 3rem;
}

/* ACCEPTED / REJECTED TEXT */

.text-rejected {
  color: var(--color-btn-negative);
  font-weight: bold;
}

.text-accepted {
  color: var(--color-btn-positive);
  font-weight: bold;
}
