.friends-container {
  width: 100vw;
  display: flex;
}

.friends-content {
  display: flex;
  flex-direction: column;
  min-width: 75vw;
  padding: 7rem 12rem;
}

.friends-content-search {
  display: flex;
  flex-direction: row;
  width: 45rem;
  height: 7rem;
  border-radius: 3.25rem;
  justify-content: space-between;
  margin-bottom: 4rem;
}

.friends-content-search > input {
  border-radius: 3.25rem;
  border: none;
  background-color: var(--color-panel-dark);
  padding-left: 3rem;
}

.friends-content-search > button {
  width: 14rem;
  height: 6rem;
  margin: 0rem 1rem;
  align-self: center;
}

.btn-accept,
.btn-reject {
  /* width: 16rem;
    height: 7rem; */
  width: 14rem;
  height: 6rem;
  margin: 0rem 1rem;
}

.title--friendReq {
  padding-top: 4rem;
}

.title--myAcc {
  padding-top: 2rem;
}
