/*Although it is named login, this css file is for: 
1) login 
2) signup 
3) EmaiAuth
4) ForgetPass
*/

.login-container,
.otp-container {
  height: 88vh;
}

.login-background,
.otp-background {
  background-color: #c1c1c1;
  padding: 3.9rem;
  box-sizing: border-box;
  height: inherit;
}

.otp-background {
  display: flex;
}

.login-panel,
.otp-panel {
  background-color: #fff;
  width: 66rem;
  border-radius: 7rem;
  /*Center vertical & horizontal */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 60rem;
}

.otp-panel {
  height: 50rem;
  justify-self: center;
  align-self: center;
}

.login-content,
.otp-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 42rem;
}

.otp-content-instruction {
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  color: var(--color-text-darker);
}

.login-content-title,
.otp-content-title {
  color: var(--color-text-important);
  margin: 0 0 2rem 0;
  font-size: 3.6rem;
  font-weight: bold;
}

.login-content-btn,
.login-content-credential,
.login-content-signup,
.otp-content-btn,
.otp-content-credential {
  height: 6.5rem;
  width: 42rem;
}

.login-content-btn,
.otp-content-btn {
  margin-top: 4.3rem;
  text-transform: uppercase;
}
.login-content-credential,
.otp-content-credential {
  background-color: var(--color-panel-dark);
  margin-top: 2rem;
  border-radius: 3.25rem;
  border: none;
  display: grid;
  align-items: center;
}

.login-content-credential i {
  width: 3.2rem;
  height: auto;
  color: var(--color-primary);
  padding-left: 1rem;
  grid-column: 1;
  grid-row: 1;
  font-size: 3rem;
}
.login-content-credential-input,
.otp-input {
  border: none;
  background: transparent;
  width: 35rem;
  border-radius: 3.25rem;
  grid-column: 1;
  grid-row: 1;
  box-sizing: border-box;
  font-size: 2.4rem;
  padding-left: 9.4rem;
  height: inherit;
  margin: 0;
  width: 100%;
}

.login-content-credential-input {
  padding-left: 9.4rem;
}

.otp-input {
  padding-left: 2rem;
}

.login-content-credential-input:focus,
.otp-input:focus {
  outline: 2px solid var(--color-primary);
}

.login-content-signup {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}
.login-content-signup-text {
  margin-block: 0;
  color: black;
}

.login-content-signup-link {
  color: var(--color-text-important);
}

.login-content-forgetpass {
  display: block;
  margin-left: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  color: var(--color-text-important);
}

.line {
  width: 100%;
}

.login-error,
.signup-error,
.otp-error {
  text-align: center;
  font-weight: bold;
  animation: 3s shake infinite ease-in;
}

@keyframes shake {
  0% {
    transform: translate(0px, -1px);
  }
  5% {
    transform: translate(0px, -6px);
  }
  10% {
    transform: translate(-0px, -11px);
  }
  15% {
    transform: translate(0px, -6px);
  }
  20% {
    transform: translate(0px, -1px);
  }
  25% {
    transform: translate(-0px, -6px);
  }
  30% {
    transform: translate(-0px, -11px);
  }
  35% {
    transform: translate(0px, -6px);
  }
  40% {
    transform: translate(-0px, -1px);
  }
  100% {
    transform: translate(0px, -1px);
  }
}
