.wishlist-page {
  width: 100vw;
  padding: 6rem;
  display: flex;
  justify-content: center;
}

.wishlist-view {
  width: max-content;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.wishlist-title {
  grid-row: 1 / 1;
  grid-column: 1 / 4;
}

.wishlist-error {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wishlist-error > img {
  margin-top: 4rem;
}
