{% extends 'base.html' %}

{% block content %}
<div>
    <div>
        <div>
            <h3>Welcome {{email}}</h3>
            <form action="" method="POST">
                
                {% csrf_token %}

                {% if error%}
                <div>
                    {{error}}
                </div>
                {% endif %}

                <div>
                    <label>OTP: </label>
                    <input required 
                            type="password" 
                            name="OTP" 
                            id=""
                            value="{{values.OTP}}" 
                            autocomplete="off" />
                </div>

                <hr>
                <button type="submit">Submit</button>
       
            </form>
        </div>
    </div>
</div>
{% endblock %}